mixin headerFotoBook(user)
  if user
    header.bg-header
      .row(style='display: flex; align-items: center')
        .col-2(style='text-align: end')
          a.text-white.header-logo(href='feeds') Fotobook
        .col-8.d-flex.justify-content-between.align-items-center
          input#search.form-control.w-50.div_reponsive(placeholder='Search photo / albums' type='text')
          if user
          .d-flex.block-user(style='align-items: center; cursor: pointer')
            img.rounded-circle(src='https://aws-s3-fotoapp-nodejs.s3.ap-southeast-1.amazonaws.com/download.jpeg' alt='Rounded Image' style='width: 30px; height: 30px')
            span.ml-2(style='\
            color: #f8f8f8;\
            font-weight: 700;\
            font-size: 13;\
            text-transform: capitalize;\
            ') #{user.firstName + " " + user.lastName}
        .col-2.login_text 
          a.text-white.logout_text.header-login(href='#' data-toggle='modal' data-target='#myModal')
            | Logout

        // The Modal
    #myModal.modal.fade
      .modal-dialog.modal-dialog-centered
        .modal-content
          // Modal Header
          .modal-header
            h4.modal-title Logout
            button.close(type='button' data-dismiss='modal')
            | &times;
          // Modal body
          .modal-body Do you want to logout?
          // Modal footer
          .modal-footer
            button.btn.btn-primary(type='button' data-dismiss='modal') Cancel 

            a.btn.btn-danger(href='/logout') Yes
  else
    header.bg-header
      .row(style='display: flex; align-items: center;')
        .col-2(style='text-align: end;')
          a.text-white.header-logo(href='#') Fotobook
        .col-8
          input#search.form-control.w-50.div_reponsive(placeholder='Search photo / albums' type='text')
        .col-2
          a.text-white.header-login(href='/login')  Login



mixin navigation(text)
  if(text === "feed")
    ul.nav.flex-column.nav_custom
      li.nav-item
        a.nav-link.active(href='/feeds?type=photo&page=1&limit=4') My Feed
      li.nav-item
        a.nav-link(href='/me/photos?page=1&limit=20') My Photos
      li.nav-item
        a.nav-link(href='/me/albums?page=1&limit=20') My Albums
  else if(text === 'photo')
    ul.nav.flex-column.nav_custom
      li.nav-item
        a.nav-link(href='/feeds?type=photo&page=1&limit=4') My Feed
      li.nav-item
        a.nav-link.active(href='/me/photos?page=1&limit=20') My Photos
      li.nav-item
        a.nav-link(href='/me/albums?page=1&limit=20') My Albums
  else if(text === "album")
    ul.nav.flex-column.nav_custom
      li.nav-item
        a.nav-link(href='/feeds?type=photo&page=1&limit=4') My Feed
      li.nav-item
        a.nav-link(href='/me/photos?page=1&limit=20') My Photos
      li.nav-item
        a.nav-link.active(href='/me/albums?page=1&limit=20') My Albums
  



mixin cardPhoto(title, desc, image, createdAt, like, u)
  .col-md-12.col-lg-6.mb-4.mb-4
    .card-custom(data-toggle='modal' data-title=title data-desc=desc data-img=image data-target='#modelImage')
      .row
        .col-sm-12.col-lg-6
          img.card-img-top(src=image alt='Card image')
        .col-sm-12.col-lg-6.p-3
          .d-flex.flex-column.justify-content-between.h-100
            .card-content-top
              .d-flex(style='align-items: center')
                img.rounded-circle(src=image alt='Rounded Image' style='width: 30px; height: 30px')
                span.ml-2(style='\
                color: #3c5999;\
                font-weight: 500;\
                font-size: 13px;\
                text-transform: capitalize;\
                ') #{u.firstName + ' ' + u.lastName}
              .card-block_content
                h6.mt-2.mb-2(style='font-weight: 700; font-size: 14px')=title
                if desc.length > 100
                  p.card-content= desc.substring(0,100) + "..." 
                else 
                  p.card-content=desc
            .d-flex.justify-content-between
              span.like-block(style='color: #3c5999; font-size: 12px')
                i.fa.fa-heart.mr-1.heart-icon(aria-hidden='true')
                span= like.length
              span(style='color: #bdbdbd; font-size: 12px') #{createdAt.getDate()  + "-" + (createdAt.getMonth()+1) + "-" + createdAt.getFullYear() + " " + createdAt.getHours() + ":" + createdAt.getMinutes()}


mixin myPhotoCard(image, title, status, _id)
  .card-custom
    a(href="/me/photo/" + _id +  "/edit")
      .card_text.d-flex.justify-content-between
        p.text-content= title                              
        span
            i.fa.fa-pencil-square-o(aria-hidden='true')
      .block-content-bottom
        img.card-img-top(src= image alt='Card image')
      if(status == false)
        span.lock-css
          i.fa.fa-lock(aria-hidden='true')

mixin cardAlbum(title, desc, images, createdAt, like, u)
                                        - var dataImages = JSON.stringify(images)
                                        .card-custom.cardAlbum(data-toggle='modal' data-target='#largeModal'  data-titlealbum=title data-dalbum=desc data-imgalbum= dataImages)
                                            .row
                                                .col-sm-12.col-lg-6.p-2
                                                    .block-images
                                                        img.card-img-top.img-thumbnail(src= images[0].url alt='Card image')
                                                        img.card-img-top.img-thumbnail(src= images[0].url alt='Card image')
                                                        img.card-img-top.img-thumbnail(src= images[0].url alt='Card image')

                                                .col-sm-12.col-lg-6.p-2
                                                    .d-flex.flex-column.justify-content-between.h-100
                                                        .card-content-top
                                                            .d-flex(style='align-items: center')
                                                                img.rounded-circle(src='https://www.tutorialspoint.com/bootstrap/images/64.jpg' alt='Rounded Image' style='width: 30px; height: 30px')
                                                                span.ml-2(style='\
                                                                color: #3c5999;\
                                                                font-weight: 700;\
                                                                font-size: 13px;\
                                                                text-transform: capitalize;\
                                                                ') #{u.firstName + ' ' + u.lastName}
                                                            .card-block_content
                                                                h6.mt-2.mb-2(style='font-weight: 700; font-size: 14px')= title
                                                                p.card-content
                                                                  if desc.length > 100
                                                                    p.card-content= desc.substring(0,100) + "..." 
                                                                  else 
                                                                    p.card-content=desc
                                                        .d-flex.justify-content-between
                                                            span.like-block(style='color: #3c5999; font-size: 12px')
                                                                i.fa.fa-heart.mr-1.heart-icon(aria-hidden='true')
                                                                span= like.length
                                                            span(style='color: #bdbdbd; font-size: 12px') #{createdAt.getDate()  + "-" + (createdAt.getMonth()+1) + "-" + createdAt.getFullYear() + " " + createdAt.getHours() + ":" + createdAt.getMinutes()}



mixin myAlbumCard(images, title, status, id)
  .card-custom.card-custom-albums
    a(href='/me/album/edit')
      .card_text.d-flex.justify-content-between
        p.text-content= title
        span
          i.fa.fa-pencil-square-o(aria-hidden='true')
      .block-content-bottom
        .my-albums
            img.card-img-top.img-thumbnail(src=images[0].url alt='Card image')
            img.card-img-top.img-thumbnail(src=images[0].url alt='Card image')
            img.card-img-top.img-thumbnail(src=images[0].url alt='Card image')

      if(status === false)
        span.lock-css
          i.fa.fa-lock(aria-hidden='true')
